<div class="data-form">
    <form action="<%=`/jobs/${job._id}/update?_method=PUT`%>" method="POST">
        <h2>Edit job:</h2>
        <p>Required fields are followed by *.</p>

		<div class="form-inputs">
			<div class="row">
				<label for="inputTitle">Title: * </label>
				<input
					type="text"
					name="title"
					id="inputTitle"
					value="<%= job.title %>"
					autofocus
					required
				/>
			</div>
			<br>
			<div class="row">
				<label for="inputCompany">Company: * </label>
				<input
					type="text"
					name="company"
					id="inputCompany"
					value="<%= job.company %>"
					required
				/>
			</div>
			<br>
			<div class="row">
				<label for="inputLocation">Location: * </label>
				<input
					type="text"
					name="location"
					id="inputLocation"
					value="<%= job.location %>"
					required
				/>
			</div>
			<br>
		</div>
        <label for="inputDescription">Description: * </label><br>
        <textarea name="description" id="inputDescription" required>
			<%= job.description %>
		</textarea><br>
        <br>
        <label for="inputReq">Requirements: * </label><br>
        <textarea name="requirements" id="inputReq" required>
			<%= job.requirements %>
		</textarea><br>
        <br>
		<div class="form-inputs">
			<div class="row">
				<label for="inputSalary">Salary: * </label>
				<input
					type="number"
					name="salary"
					id="inputSalary"
					value="<%= job.salary %>"
					required
				/>
			</div>
			<br>
			<div class="row">
				<label for="inputEmail">Contact Email: * </label>
				<input
					type="text"
					name="contactEmail"
					id="inputEmail"
					value="<%= job.contactEmail %>"
					required
				/>
			</div>
			<br>
			<div class="row">
				<label for="inputPhone">Contact Phone: * </label>
				<input 
					type="text"
					name="contactPhone"
					id="inputPhone"
					value="<%= job.contactPhone %>"
					required>
			</div>
			<br>
			<div class="row">
				<label for="inputPost">Post Date: </label>
				<input
					type="date"
					name="postDate"
					id="inputPost"
					value="<%= job.postDate.toISOString().substr(0, 10) %>"
				/>				
			</div>
			<br>
			<div class="row">
				<label for="inputDeadline">Deadline Date: * </label>
				<input
					type="date"
					name="deadlineDate"
					id="inputDeadline"
					value="<%= job.deadlineDate.toISOString().substr(0, 10) %>"
					required
				/>
			</div>
			<br>
		</div>
        <label for="inputActive">Active?</label>
        <% if (job.isActive) { %>
            <input type="radio" id="activeYes" name="isActive" value="yes" checked>
            <label for="activeYes">Yes</label>
            <input type="radio" id="activeNo" name="isActive" value="no">
            <label for="activeNo">No</label><br>
        <% } else { %>
            <input type="radio" id="activeYes" name="isActive" value ="yes">
            <label for="activeYes">Yes</label>
            <input type="radio" id="activeNo" name="isActive" value="no" checked>
            <label for="activeNo">No</label><br>
        <% } %>
        <br>
        <button type="submit">Update</button>
    
    </form>
  </div>
  